@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

$font: 'Poppins', sans-serif;

//Main colors
$global-bg: #ffffff;
$bg: #f8f9fa;
$black: #212529;
$violet: #5222D0;
$hero-bg: #ffffff;
$orange: #EC615b;

body{
    font-family: $font;
    background: $global-bg;
}


//Navbar
nav{
    display: flex;
    padding: 0 1em;
    justify-content: space-between;
    position: fixed;
    // height: 75px;
    line-height: 72px;

    width: 100%;
    background: $bg;
    // background: rgba(197, 197, 197, 0.2);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    
    ul.nav-li{
        width: 100%;
        padding-top: 4em;
        position: absolute;
        z-index: -1;
        left: 0;
        transform: translateY(-100%);
        transition: .6s;
    }

    li{
        padding: 0 1em;
        margin: auto 0;
        background: $bg;
        list-style: none;
    }
    li a{
        font-weight: 400;
        text-align: center;
        color: $black;
        text-decoration: none;
    }

    li#downloadcv{
        a{
            font-weight: 500;
            border-radius: 6px;
            padding: .7em;
            color: #ffffff;
            background: #5222D0;
        }
        a:hover{
            background: #3e1f8b;
            transition: .6s;
        }
       
    }

    li:hover{
        background: $orange;
        transition: .6s;
       a{
        color: #ffffff;
       }
    }

//Nav toggle
    label.navbar-toggler{
        display: grid !important;
    }

    label.navbar-toggler{
        display: none;
        height: min-content;
        margin: 1.7em 0;
        cursor: pointer;
    }

    label.navbar-toggler span.bar{
        width: 34px;
        height: 5px;
        margin-bottom: 4px;
        background: $black;
        border-radius: 20%;
        transition: .4s;
    }

//Activate when click

    .nav-li.open{
        transform: translateY(0);
    }
    
// Burger menu will animate
    .navbar-toggler.active{
        margin-top: 2em;
    }
    .navbar-toggler.active .bar:nth-child(1){
        position: absolute;
        transform: rotate(45deg);
    }
    
   .navbar-toggler.active .bar:nth-child(2){
        display: none;
    }
    
   .navbar-toggler.active .bar:nth-child(3){
        transform: rotate(-45deg);
    }
}


//Hero - section
section.hero-section{
   padding: 9em 1em;
   box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.25);
   div.head-container{
    div.frontend-title{
        h1{
            font-size: 42px;
            text-align: center;
            color: $violet;
        }
    }
    div.frontend-desc{
        padding-top: 2em;
        p{
            font-size: 14px;
            text-align: center;
        }
    }
   }

   div.view-container{
    margin-top: 3em;
    justify-content: space-between;
    display: flex;
    align-items: center;

        a.view-projects{
            margin: 0 auto;
            padding: 2em;
            border: solid 1px #212529;
            text-decoration: none;
            color: #212529;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 2px;
            transition:  ease-out 0.3s;
             svg{
                margin: auto;
                text-align: center;
                align-items: center;
                width: 40px;
              
            }
        }

        a.view-projects:hover{
            color: #ffffff;
            box-shadow: inset 300px 0 0 0 #5222D0;
            svg{
                fill: #ffffff;
            }
        }
   
   }

   svg.design1{
      z-index: -1;
      position: absolute;
      margin-top: 1em;
      margin-left: 3em;
   }

   
   svg.design2{
    z-index: -1;
    position: absolute;
    width: 20px;
    top: 7em;
    margin-right: 2em;
    right: 0;
 }
}

//Project Section
section.project-section{
    padding: 4em 1em;
    box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.25);

    //Title container
    div.title-container{
        div.title-head{
            align-items: center;
            h1{
                font-size: 20px;
                span{
                    border-top: solid 4px $violet;
                    content: ' ';
                }
                svg{
                    padding-top: 7px;
                    margin-left: 1em;
                    width: 50px;
                }
            }
        }
    //Project Descriptions
    div.title-desc{
        padding-top: 1em;
        p{
            font-size: 14px;
        }
    }
  }

  //Project Box
  div.project-container{
    margin-top: 4em;
    background: $bg;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    // max-width: 320px;

    div.project-content{
        padding: 1.4em;
        div.categ-title{
            h4{
                font-size: 14px;
                color: $orange;
            }
            h1{
                font-size: 17px;
            }
        }
        div.project-desc{
            margin-top: .8em;
            p{
                font-size: 14px;
            }
        }
    }
    div.link-container{
        padding: 1.4em;
        display: flex;
        align-items: center;
        align-self: center;
        align-content: center;
        a.btn-visit{
            padding: .5em 2em;
            color: #ffffff;
            font-weight: 600;
            border-radius: 6px;
          
            background: $violet;
            text-decoration: none;
        }
        a.btn-visit:hover{
            background: #371c7a;
            transition: ease-out .6s;
        }
        a.github{
         margin-left: 2em; 
         justify-content: center;
         align-items: center;
         display: flex;
         img{
            width: 30px;
         }
         
            
        }
    }
  }
}

// What i do Section
section.ido-section{
    padding: 4em 1em;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
        //Title container
        div.title-container{
            div.title-head{
                align-items: center;
                h1{
                    font-size: 20px;
                    span{
                        border-top: solid 4px $violet;
                        content: ' ';
                    }
                    svg{
                        padding-top: 7px;
                        margin-left: 1em;
                        width: 50px;
                    }
                }
            }
        //Project Descriptions
        div.title-desc{
            padding-top: 1em;
            p{
                font-size: 14px;
            }
        }
      }

      div.build-container{
        margin-top: 2em;
        border: 4px solid #000000;
        padding: 2em 1em;
        text-align: center;
        // max-width: 320px;

        div.logo-container{
            padding: 1em;
            img{
                width: 50px;
            }
            h1{
                margin: 1.4em 0 1.4em 0;
                font-size: 22px;
                color: $violet;
            }
        }
        div.build-desc{
            font-size: 14px;
        }
      }
}

//My Skills section
section.myskills-section{
    padding: 4em 1em;

    //Title container
    div.title-container{
        div.title-head{
            align-items: center;
            h1{
                font-size: 20px;
                span{
                    border-top: solid 4px $violet;
                    content: ' ';
                }
                svg{
                    padding-top: 7px;
                    margin-left: 1em;
                    width: 50px;
                }
            }
        }
    //Project Descriptions
    div.title-desc{
        padding-top: 1em;
        p{
            font-size: 14px;
        }
    }
  }

  div.skills-container{
    display: grid;
    padding-top: 4em;
    grid-template-columns: 1fr 1fr;
    // max-width: 320px;
    div.skill-box{
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
        }
        h1{
            text-align: center;
            font-size: 20px;
        }
    }
  }
}

// About Section
section.about-section{
    padding: 4em 1em;
    background: $black;
        //Title container
        div.title-container{
            div.title-head{
                align-items: center;
                h1{
                    color: #ffffff;
                    font-size: 20px;
                    span{
                        border-top: solid 4px $violet;
                        content: ' ';
                    }
                    svg{
                        padding-top: 7px;
                        margin-left: 1em;
                        width: 50px;
                    }
                }
            }
      }
      div.profile-container{
        padding: 2em;
        img{
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            width: 60%;
        }
      }

      div.about-desc{
        font-size: 14px;
        color: #ffffff;
      }
}

// About Section
section.contact-section{
    padding: 1em 1em;
    background: $black;
        //Title container
        div.title-container{
            div.title-head{
                align-items: center;
                h1{
                    color: #ffffff;
                    font-size: 20px;
                    span{
                        border-top: solid 4px $violet;
                        content: ' ';
                    }
                    svg{
                        padding-top: 7px;
                        margin-left: 1em;
                        width: 50px;
                    }
                }
            }
        //Project Descriptions
        div.title-desc{
            color: #ffffff;
            padding-top: 1em;
            p{
                font-size: 14px;
            }
        }
      }

      div.contact-form{
        padding-top: 4em;
        form{
            color: #ffffff;
            
            label{
                font-size: 18px;
                font-weight: bold;
                display: flex;
                
            }
            input{
                font-family: $font;
                margin-bottom: 1.6em;
                border: none;
                border-radius: 6px;
                padding: .8em;
                width: 100%;
                resize: none;
            }
            textarea{
                font-family: $font;
                border: none;
                border-radius: 6px;
                padding: 1em;
                height: 200px;
                width: 100%;
                margin-bottom: 4em;
            }

            button{
                background: $violet;
                border: none;
                cursor: pointer;
                font-size: 20px;
                letter-spacing: 1px;
                font-weight: bold;
                color: #ffffff;
                width: 100%;
                padding: 1em;
                border-radius: 6px;
                text-align: center;
                align-items: center;
                svg{
                    text-align: center;
                    align-items: center;
                    padding-top: 4px;
                }
            }
        }
      }

      div.social-container{
        padding-top: 4em;
        color: #ffffff;
        align-items: center;
        font-size: 16px;
        div.social-logo{
            align-items: center;
            justify-content: center;
            margin-bottom: 1em;
            // span.social-user{
            //     font-size: 14px;
            //     align-items: center;
            //     justify-content: center;
            //     margin-bottom: 14px;
            // }
        }
      }
}

// Footer Section
footer.footer-section{
    background: #121212;
    padding: 2em 1em;
    text-align: center;
    
    ul.foot-li{
        li.nav-item{
            line-height: 3em;
            text-decoration: none;
            list-style: none;
            a{
                text-decoration: none;
                color: #ffffff;
            }
        }
    }
    div.credits{
        padding-top: 4em;
        color: #ffffff;
    }
}

@media only screen and (min-width: 458px){

    //Hero section
    section.hero-section{
        div.head-container{
            div.frontend-title{
                h1{
                    font-size: 52px;
                }
            }
            div.frontend-desc{
                p{
                    font-size: 15px;
                }
            }
        }
    }

    //Project section
    section.project-section{
        div.title-container{
            div.title-head{
                h1{
                    font-size: 22px;
                }
            }

        //Project Descriptions
        div.title-desc{
            padding-top: 1em;
                p{
                    font-size: 15px;
                }
            }
        }

        //Project container
        div.project-container{
            div.project-content{
                div.categ-title{
                    h4{
                        font-size: 16px;
                       
                    }
                    h1{
                        font-size: 18px;
                    }
                }
                div.project-desc{
                    p{
                        font-size: 16px;
                    }
                }
            }
        }

    }

    //I do section
    section.ido-section{
        div.title-container{
            div.title-head{
                h1{
                    font-size: 22px;
                }
            }

    //Project Descriptions
    div.title-desc{
        padding-top: 1em;
            p{
                font-size: 15px;
            }
        }
    }

    div.build-container{
        div.logo-container{
            h1{
                font-size: 22px;
            }
        }
       div.build-desc{
        p{
            font-size: 15px;
        }
       }
    }

    }

    //Skills section
    section.myskills-section{
        div.title-container{
            div.title-head{
                h1{
                    font-size: 22px;
                }
            }

        //Project Descriptions
        div.title-desc{
            padding-top: 1em;
                p{
                    font-size: 15px;
                }
            }
        }
    }

    //About section
    section.about-section{
        div.title-container{
            div.title-head{
                h1{
                    font-size: 22px;
                }
            }
        }

        div.about-desc{
            font-size: 15px;
            color: #ffffff;
        }
    }

    //Contact me section
    section.contact-section{
        div.title-container{
            div.title-head{
                h1{
                    font-size: 22px;
                }
            }
            div.title-desc{
               p{
                font-size: 15px;
               }
            }
        }
    }

}


@media only screen and (min-width: 500px){
    section.project-section{
        div.project-outer{
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
      
       
        }
        // div.project-container{
        //     width: 50%;
        //     display: grid;
        // }
    }
}


@media only screen and (min-width: 768px){
    // Hero Section
    section.hero-section{
        div.head-container{
            div.frontend-title{
                h1{
                    font-size: 52px;
                    text-align: center;
                    color: $violet;
                }
            }
            div.frontend-desc{
                p{
                    font-size: 16px;
                    text-align: center;
                }
            }
           }
           div.view-container{
            a.view-projects{
                font-size: 14px;
            }
           }
    }

    //Project section
    section.project-section{
        div.title-container{
            div.title-head{
                h1{
                    font-size: 24px;
                }
            }
        }
    
            //Project container
            div.project-container{
                div.project-content{
                    div.categ-title{
                        h4{
                            font-size: 17px;
                           
                        }
                        h1{
                            font-size: 20px;
                        }
                    }
                    div.project-desc{
                        p{
                            font-size: 16px;
                        }
                    }
                }
                div.link-container{
                    a.btn-visit{
                        padding: .7em 2em;
                    }
                }
            }
    
        }
    
    //I do section
    section.ido-section{
        div.title-container{
            div.title-head{
                h1{
                    font-size: 24px;
                    svg{
                       margin-left: .9em;
                    }
                }
            }
    
        //Project Descriptions
        div.title-desc{
                p{
                    font-size: 16px;
                }
            }
        }
        
        div.build-outer{
            display: grid;
            grid-template-columns: 1fr 1fr;

            div.build-container{
                width: 80%;
                margin: 2.7em auto;

                div.logo-container{
                    img{
                        width: 50px;
                    }
                    h1{
                        font-size: 20px;
                    }
                }
                div.build-desc{
                    p{
                        font-size: 14px;
                    }
                }
              }
            }
    
        }
    
    //Skills section
    section.myskills-section{
        div.title-container{
            div.title-head{
                h1{
                    font-size: 24px;
                }
            }

        //Project Descriptions
        div.title-desc{
            padding-top: 1em;
                p{
                    font-size: 16px;
                }
            }
        }

        div.skills-container{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        
    }
    
    //About section
    section.about-section{
        div.title-container{
            div.title-head{
                h1{
                    font-size: 24px;
                }
            }
        }

        div.profile-outer{
            padding-top: 4em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "desc prof";
            div.profile-container{
                padding: 0;
                grid-area: prof;
                img{
                    width: 260px;
                    // margin: 0;
                    margin-right: 0;
                }
            }
            div.about-desc{ 
                grid-area: desc;
                font-size: 15px;
            }
        }

    }
    
    //Contact me section
    section.contact-section{
        padding-top: 4em;
        padding-bottom: 4em;
        div.title-container{
            div.title-head{
                h1{
                    font-size: 24px;
                }
            }
            div.title-desc{
                p{
                font-size: 16px;
                }
            }
        }

        div.contact-outer{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2em;

            div.social-container{
                margin-top: 1em;
                div.social-logo{
                    font-size: 16px;
                    // text-align: right;
                    right: 0;
                }
             
            }
        }

    }

    footer.footer-section{
        padding: 4em 1em;
        ul{
            display: flex;
            justify-content: center;
            gap: 2.7em;
            li{
                text-align: center;
                align-items: center;
            }
           
        }
    }

}


@media only screen and (min-width: 866px){
    nav{
        ul.nav-li{
            transform: none;
            display: flex;
            padding: 0;
            top: 0;
            float: left;
            justify-content: right;
        }

        label.navbar-toggler span{
            display: none;
        }

        li:hover{
            background: none;
            a{
            color: $orange;
            }
           
        }
    }
}

@media only screen and (min-width: 978px){

    //Hero Section
    section.hero-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        div.left-content{
            div.frontend-title{
                h1{
                    font-size: 64px;
                    text-align: left;
                }
            }
            div.frontend-desc{
               
                p{
                    text-align: left;
                }
            }
        }
        div.view-container{
            a.view-projects{
                margin: 0;
                left: 0;
                padding: 1.4em;
            }
          
        }

        svg.design1{
            width: 28px;
            margin-top: 28em;
        }

        svg.design2{
            width: 16px;
            left: 0;
            margin-left: 24em;
        }
    }

    div.right-content{
        background-image: url(/assets/img/devimg.svg);
        background-repeat: no-repeat;
        background-position: center;
        // background-size: cover;
        background-size: 100%;

    }

    //Project section
    section.project-section{
        div.title-container{
            div.title-head{
                align-items: center;
                h1{
                    font-size: 26px;
                    svg{
                        padding-top: 7px;
                        margin-left: 1em;
                        width: 50px;
                    }
                }
            }
        //Project Descriptions
        div.title-desc{
            width: 562px;
            p{
                // width: 5px;
                font-size: 17px;
            }
        }
      }

      div.project-outer{
       grid-template-columns: 1fr 1fr 1fr;
      }
    }

    //WHAT I DO
    section.ido-section{
        div.title-container{
            div.title-head{
                align-items: center;
                h1{
                    font-size: 26px;
                    svg{
                        padding-top: 7px;
                        margin-left: 1em;
                        width: 50px;
                    }
                }
            }
        //Project Descriptions
        div.title-desc{
            width: 562px;
            p{
                // width: 5px;
                font-size: 17px;
            }
        }
      }

        div.build-outer{
            grid-template-columns: 1fr 1fr 1fr;
            
        }
    }

    //My skills
    section.myskills-section{
        div.title-container{
            div.title-head{
                align-items: center;
                h1{
                    font-size: 26px;
                    svg{
                        padding-top: 7px;
                        margin-left: 1em;
                        width: 50px;
                    }
                }
            }
        //Project Descriptions
        div.title-desc{
            width: 562px;
            p{
                // width: 5px;
                font-size: 17px;
            }
        }
      }

        div.skills-container{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

@media only screen and (min-width: 1200px){

    nav.nav{
        padding: 0 6em;
        a.logo{
            h1{
                font-size: 32px;
            }
        }

        ul.nav-li{
            padding: 0 6em;
            li{
                font-size: 18px;
            }
        }
    }


    //Hero Section
    section.hero-section{
        padding: 9em 6em;
        grid-template-columns: 1fr 1.4fr;
        div.left-content{
           
            div.head-container{
                div.frontend-title{
                    h1{
                        font-size: 72px;
                    }
                }
                div.frontend-desc{
                    p{
                        font-size: 20px;
                    }
                }
            }

            div.view-container{
                a.view-projects{
                    font-size: 16px;
                    padding: 1.7em 2em;
                }
            }
        }

        div.right-content{
            background-size: cover;
        }

        svg.design2{
            margin-left: 28em;
        }

        svg.design1{
            margin-top: 34em;
        }
    }

    //project section
    section.project-section{
        padding: 5em 6em;
    }

    //What I do section
    section.ido-section{
        padding: 5em 6em;
    }

    //My skills section
    section.myskills-section{
        padding: 5em 6em;
    }

    //About me Section
    section.about-section{
        padding: 5em 6em;
    }

    //Contact me Section
    section.contact-section{
        padding: 5em 6em;
    }

}



