@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

div.nav-wrapper {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

nav {
  display: flex;
  padding: 0 1em;
  justify-content: space-between;
  position: fixed;
  line-height: 72px;
  width: 100%;
  background: #f8f9fa;
}
nav a.logo {
  text-decoration: none;
  color: #212529;
}
nav ul.nav-li {
  width: 100%;
  padding-top: 4em;
  position: absolute;
  z-index: -1;
  left: 0;
  transform: translateY(-100%);
  transition: 0.6s;
}
nav li {
  padding: 0 1em;
  margin: auto 0;
  background: #f8f9fa;
  list-style: none;
}
nav li a {
  font-weight: 400;
  text-align: center;
  color: #212529;
  text-decoration: none;
}
nav li#downloadcv {
  padding: 0;
}
nav li#downloadcv a {
  font-weight: 500;
  border-radius: 6px;
  padding: 0.7em;
  color: #ffffff;
  background: #5222D0;
}
nav li#downloadcv a:hover {
  background: #3e1f8b;
  transition: 0.6s;
}
nav li:hover {
  background: #EC615b;
  transition: 0.6s;
}
nav li:hover a {
  color: #ffffff;
}
nav label.navbar-toggler {
  display: grid !important;
}
nav label.navbar-toggler {
  display: none;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1.7em 0;
  cursor: pointer;
}
nav label.navbar-toggler span.bar {
  width: 34px;
  height: 5px;
  margin-bottom: 4px;
  background: #212529;
  border-radius: 20%;
  transition: 0.4s;
}
nav .nav-li.open {
  transform: translateY(0);
}
nav .navbar-toggler.active {
  margin-top: 2em;
}
nav .navbar-toggler.active .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}
nav .navbar-toggler.active .bar:nth-child(2) {
  display: none;
}
nav .navbar-toggler.active .bar:nth-child(3) {
  transform: rotate(-45deg);
}

div.herosec-wrapper {
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.25);
}

section.hero-section {
  padding: 9em 1em;
}
section.hero-section div.head-container div.frontend-title h1 {
  font-size: 42px;
  text-align: center;
  color: #5222D0;
}
section.hero-section div.head-container div.frontend-desc {
  padding-top: 2em;
}
section.hero-section div.head-container div.frontend-desc p {
  font-size: 14px;
  text-align: center;
}
section.hero-section div.view-container {
  margin-top: 3em;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
section.hero-section div.view-container a.view-projects {
  margin: 0 auto;
  padding: 2em;
  border: solid 1px #212529;
  text-decoration: none;
  color: #212529;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  transition: ease-out 0.3s;
}
section.hero-section div.view-container a.view-projects svg {
  margin: auto;
  text-align: center;
  align-items: center;
  width: 40px;
}
section.hero-section div.view-container a.view-projects:hover {
  color: #ffffff;
  box-shadow: inset 300px 0 0 0 #5222D0;
}
section.hero-section div.view-container a.view-projects:hover svg {
  fill: #ffffff;
}
section.hero-section svg.design1 {
  z-index: -1;
  position: absolute;
  margin-top: 1em;
  margin-left: 3em;
}
section.hero-section svg.design2 {
  z-index: -1;
  position: absolute;
  width: 20px;
  top: 7em;
  margin-right: 2em;
  right: 0;
}
section.hero-section svg.design3 {
  display: none;
}

div.projectsec-wrapper {
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.25);
}

section.project-section {
  padding: 4em 1em;
}
section.project-section div.title-container div.title-head {
  align-items: center;
}
section.project-section div.title-container div.title-head h1 {
  font-size: 20px;
}
section.project-section div.title-container div.title-head h1 span {
  border-top: solid 4px #5222D0;
  content: " ";
}
section.project-section div.title-container div.title-head h1 svg {
  padding-top: 7px;
  margin-left: 1em;
  width: 50px;
}
section.project-section div.title-container div.title-desc {
  padding-top: 1em;
}
section.project-section div.title-container div.title-desc p {
  font-size: 14px;
}
section.project-section div.project-container {
  margin-top: 4em;
  background: #f8f9fa;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}
section.project-section div.project-container div.project-content {
  padding: 1.4em;
}
section.project-section div.project-container div.project-content div.categ-title h4 {
  font-size: 14px;
  color: #EC615b;
}
section.project-section div.project-container div.project-content div.categ-title h1 {
  font-size: 17px;
}
section.project-section div.project-container div.project-content div.project-desc {
  margin-top: 0.8em;
}
section.project-section div.project-container div.project-content div.project-desc p {
  font-size: 14px;
}
section.project-section div.project-container div.link-container {
  padding: 1.4em;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
}
section.project-section div.project-container div.link-container a.btn-visit {
  padding: 0.5em 2em;
  color: #ffffff;
  font-weight: 600;
  border-radius: 6px;
  background: #5222D0;
  text-decoration: none;
}
section.project-section div.project-container div.link-container a.btn-visit:hover {
  background: #371c7a;
  transition: ease-out 0.6s;
}
section.project-section div.project-container div.link-container a.github {
  margin-left: 2em;
  justify-content: center;
  align-items: center;
  display: flex;
}
section.project-section div.project-container div.link-container a.github img {
  width: 30px;
}

div.buildosec-wrapper {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}

section.ido-section {
  padding: 4em 1em;
}
section.ido-section div.title-container div.title-head {
  align-items: center;
}
section.ido-section div.title-container div.title-head h1 {
  font-size: 20px;
}
section.ido-section div.title-container div.title-head h1 span {
  border-top: solid 4px #5222D0;
  content: " ";
}
section.ido-section div.title-container div.title-head h1 svg {
  padding-top: 7px;
  margin-left: 1em;
  width: 50px;
}
section.ido-section div.title-container div.title-desc {
  padding-top: 1em;
}
section.ido-section div.title-container div.title-desc p {
  font-size: 14px;
}
section.ido-section div.build-container {
  margin-top: 2em;
  border: 4px solid #000000;
  padding: 2em 1em;
  text-align: center;
}
section.ido-section div.build-container div.logo-container {
  padding: 1em;
}
section.ido-section div.build-container div.logo-container img {
  width: 50px;
}
section.ido-section div.build-container div.logo-container h1 {
  margin: 1.4em 0 1.4em 0;
  font-size: 22px;
  color: #5222D0;
}
section.ido-section div.build-container div.build-desc {
  font-size: 14px;
}

section.myskills-section {
  padding: 4em 1em;
}
section.myskills-section div.title-container div.title-head {
  align-items: center;
}
section.myskills-section div.title-container div.title-head h1 {
  font-size: 20px;
}
section.myskills-section div.title-container div.title-head h1 span {
  border-top: solid 4px #5222D0;
  content: " ";
}
section.myskills-section div.title-container div.title-head h1 svg {
  padding-top: 7px;
  margin-left: 1em;
  width: 50px;
}
section.myskills-section div.title-container div.title-desc {
  padding-top: 1em;
}
section.myskills-section div.title-container div.title-desc p {
  font-size: 14px;
}
section.myskills-section div.skills-container {
  display: grid;
  padding-top: 4em;
  grid-template-columns: 1fr 1fr;
}
section.myskills-section div.skills-container div.skill-box {
  justify-content: center;
  align-items: center;
}
section.myskills-section div.skills-container div.skill-box img {
  width: 100%;
}
section.myskills-section div.skills-container div.skill-box h1 {
  text-align: center;
  font-size: 20px;
}

section.about-section {
  padding: 4em 1em;
  width: 100%;
  background: #212529;
}
section.about-section div.title-container div.title-head {
  align-items: center;
}
section.about-section div.title-container div.title-head h1 {
  color: #ffffff;
  font-size: 20px;
}
section.about-section div.title-container div.title-head h1 span {
  border-top: solid 4px #5222D0;
  content: " ";
}
section.about-section div.title-container div.title-head h1 svg {
  padding-top: 7px;
  margin-left: 1em;
  width: 50px;
}
section.about-section div.profile-container {
  padding: 2em;
}
section.about-section div.profile-container img {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 60%;
}
section.about-section div.about-desc {
  font-size: 14px;
  color: #ffffff;
}

section.contact-section {
  padding: 1em 1em;
  background: #212529;
}
section.contact-section div.title-container div.title-head {
  align-items: center;
}
section.contact-section div.title-container div.title-head h1 {
  color: #ffffff;
  font-size: 20px;
}
section.contact-section div.title-container div.title-head h1 span {
  border-top: solid 4px #5222D0;
  content: " ";
}
section.contact-section div.title-container div.title-head h1 svg {
  padding-top: 7px;
  margin-left: 1em;
  width: 50px;
}
section.contact-section div.title-container div.title-desc {
  color: #ffffff;
  padding-top: 1em;
}
section.contact-section div.title-container div.title-desc p {
  font-size: 14px;
}
section.contact-section div.contact-form {
  padding-top: 4em;
}
section.contact-section div.contact-form form {
  color: #ffffff;
}
section.contact-section div.contact-form form label {
  font-size: 18px;
  font-weight: bold;
  display: flex;
}
section.contact-section div.contact-form form input {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.6em;
  border: none;
  border-radius: 6px;
  padding: 0.8em;
  width: 100%;
  resize: none;
}
section.contact-section div.contact-form form textarea {
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 6px;
  padding: 1em;
  height: 200px;
  width: 100%;
  margin-bottom: 4em;
}
section.contact-section div.contact-form form button {
  background: #5222D0;
  border: none;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #ffffff;
  width: 100%;
  padding: 1em;
  border-radius: 6px;
  text-align: center;
  align-items: center;
}
section.contact-section div.contact-form form button svg {
  text-align: center;
  align-items: center;
  padding-top: 4px;
}
section.contact-section div.social-container {
  padding-top: 4em;
  color: #ffffff;
  align-items: center;
  font-size: 16px;
}
section.contact-section div.social-container div.social-logo {
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

footer.footer-section {
  background: #121212;
  padding: 2em 1em;
  text-align: center;
}
footer.footer-section ul.foot-li li.nav-item {
  line-height: 3em;
  text-decoration: none;
  list-style: none;
}
footer.footer-section ul.foot-li li.nav-item a {
  text-decoration: none;
  color: #ffffff;
}
footer.footer-section div.credits {
  padding-top: 4em;
  color: #ffffff;
}

@media only screen and (min-width: 458px) {
  section.hero-section div.head-container div.frontend-title h1 {
    font-size: 52px;
  }
  section.hero-section div.head-container div.frontend-desc p {
    font-size: 15px;
  }
  section.project-section div.title-container div.title-head h1 {
    font-size: 22px;
  }
  section.project-section div.title-container div.title-desc {
    padding-top: 1em;
  }
  section.project-section div.title-container div.title-desc p {
    font-size: 15px;
  }
  section.project-section div.project-container div.project-content div.categ-title h4 {
    font-size: 16px;
  }
  section.project-section div.project-container div.project-content div.categ-title h1 {
    font-size: 18px;
  }
  section.project-section div.project-container div.project-content div.project-desc p {
    font-size: 16px;
  }
  section.ido-section div.title-container div.title-head h1 {
    font-size: 22px;
  }
  section.ido-section div.title-container div.title-desc {
    padding-top: 1em;
  }
  section.ido-section div.title-container div.title-desc p {
    font-size: 15px;
  }
  section.ido-section div.build-container div.logo-container h1 {
    font-size: 22px;
  }
  section.ido-section div.build-container div.build-desc p {
    font-size: 15px;
  }
  section.myskills-section div.title-container div.title-head h1 {
    font-size: 22px;
  }
  section.myskills-section div.title-container div.title-desc {
    padding-top: 1em;
  }
  section.myskills-section div.title-container div.title-desc p {
    font-size: 15px;
  }
  section.about-section div.title-container div.title-head h1 {
    font-size: 22px;
  }
  section.about-section div.about-desc {
    font-size: 15px;
    color: #ffffff;
  }
  section.contact-section div.title-container div.title-head h1 {
    font-size: 22px;
  }
  section.contact-section div.title-container div.title-desc p {
    font-size: 15px;
  }
}
@media only screen and (min-width: 500px) {
  section.project-section div.project-outer {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}
@media only screen and (min-width: 768px) {
  section.hero-section div.head-container div.frontend-title h1 {
    font-size: 52px;
    text-align: center;
    color: #5222D0;
  }
  section.hero-section div.head-container div.frontend-desc p {
    font-size: 16px;
    text-align: center;
  }
  section.hero-section div.view-container a.view-projects {
    font-size: 14px;
  }
  section.project-section div.title-container div.title-head h1 {
    font-size: 24px;
  }
  section.project-section div.project-container div.project-content div.categ-title h4 {
    font-size: 17px;
  }
  section.project-section div.project-container div.project-content div.categ-title h1 {
    font-size: 20px;
  }
  section.project-section div.project-container div.project-content div.project-desc p {
    font-size: 16px;
  }
  section.project-section div.project-container div.link-container a.btn-visit {
    padding: 0.7em 2em;
  }
  section.ido-section div.title-container div.title-head h1 {
    font-size: 24px;
  }
  section.ido-section div.title-container div.title-head h1 svg {
    margin-left: 0.9em;
  }
  section.ido-section div.title-container div.title-desc p {
    font-size: 16px;
  }
  section.ido-section div.build-outer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  section.ido-section div.build-outer div.build-container {
    width: 80%;
    margin: 2.7em auto;
  }
  section.ido-section div.build-outer div.build-container div.logo-container img {
    width: 50px;
  }
  section.ido-section div.build-outer div.build-container div.logo-container h1 {
    font-size: 20px;
  }
  section.ido-section div.build-outer div.build-container div.build-desc p {
    font-size: 14px;
  }
  section.myskills-section div.title-container div.title-head h1 {
    font-size: 24px;
  }
  section.myskills-section div.title-container div.title-desc {
    padding-top: 1em;
  }
  section.myskills-section div.title-container div.title-desc p {
    font-size: 16px;
  }
  section.myskills-section div.skills-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  section.about-section div.title-container div.title-head h1 {
    font-size: 24px;
  }
  section.about-section div.profile-outer {
    padding-top: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "desc prof";
  }
  section.about-section div.profile-outer div.profile-container {
    padding: 0;
    grid-area: prof;
  }
  section.about-section div.profile-outer div.profile-container img {
    width: 260px;
    margin-right: 0;
  }
  section.about-section div.profile-outer div.about-desc {
    grid-area: desc;
    font-size: 15px;
  }
  section.contact-section {
    padding-top: 4em;
    padding-bottom: 4em;
  }
  section.contact-section div.title-container div.title-head h1 {
    font-size: 24px;
  }
  section.contact-section div.title-container div.title-desc p {
    font-size: 16px;
  }
  section.contact-section div.contact-outer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
  section.contact-section div.contact-outer div.social-container {
    margin-top: 1em;
  }
  section.contact-section div.contact-outer div.social-container div.social-logo {
    font-size: 16px;
    right: 0;
  }
  footer.footer-section {
    padding: 4em 1em;
  }
  footer.footer-section ul {
    display: flex;
    justify-content: center;
    gap: 2.7em;
  }
  footer.footer-section ul li {
    text-align: center;
    align-items: center;
  }
}
@media only screen and (min-width: 866px) {
  nav {
    background: #ffffff;
  }
  nav ul.nav-li {
    position: fixed;
    transform: none;
    display: flex;
    padding: 0 1em;
    top: 0;
    float: right;
    right: 0;
    margin: 0 auto;
    justify-content: right;
  }
  nav ul.nav-li li {
    padding: 0 1em;
    margin: auto 0;
    background: #ffffff;
    list-style: none;
  }
  nav label.navbar-toggler span {
    display: none;
  }
  nav li:hover {
    background: none;
  }
  nav li:hover a {
    color: #EC615b;
  }
}
@media only screen and (min-width: 978px) {
  section.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  section.hero-section div.left-content div.frontend-title h1 {
    font-size: 64px;
    text-align: left;
  }
  section.hero-section div.left-content div.frontend-desc p {
    text-align: left;
  }
  section.hero-section div.view-container a.view-projects {
    margin: 0;
    left: 0;
    padding: 1.4em;
  }
  section.hero-section svg.design1 {
    width: 28px;
    margin-top: 28em;
  }
  section.hero-section svg.design2 {
    width: 16px;
    left: 0;
    margin-left: 24em;
  }
  div.right-content {
    background-image: url(/assets/img/devimg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  section.project-section div.title-container div.title-head {
    align-items: center;
  }
  section.project-section div.title-container div.title-head h1 {
    font-size: 26px;
  }
  section.project-section div.title-container div.title-head h1 svg {
    padding-top: 7px;
    margin-left: 1em;
    width: 50px;
  }
  section.project-section div.title-container div.title-desc {
    width: 562px;
  }
  section.project-section div.title-container div.title-desc p {
    font-size: 17px;
  }
  section.project-section div.project-outer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  section.ido-section div.title-container div.title-head {
    align-items: center;
  }
  section.ido-section div.title-container div.title-head h1 {
    font-size: 26px;
  }
  section.ido-section div.title-container div.title-desc {
    width: 562px;
  }
  section.ido-section div.title-container div.title-desc p {
    font-size: 17px;
  }
  section.ido-section div.build-outer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  section.ido-section div.build-outer div.build-container div.logo-container h1 {
    font-size: 17px;
  }
  section.myskills-section div.title-container div.title-head {
    align-items: center;
  }
  section.myskills-section div.title-container div.title-head h1 {
    font-size: 21px;
  }
  section.myskills-section div.title-container div.title-head h1 svg {
    padding-top: 7px;
    margin-left: 1em;
    width: 50px;
  }
  section.myskills-section div.title-container div.title-desc {
    width: 562px;
  }
  section.myskills-section div.title-container div.title-desc p {
    font-size: 17px;
  }
  section.myskills-section div.skills-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  nav.nav {
    padding: 0 6em;
  }
  nav.nav a.logo h1 {
    font-size: 32px;
  }
  nav.nav ul.nav-li {
    padding: 0 6em;
  }
  nav.nav ul.nav-li li {
    font-size: 18px;
  }
  section.hero-section {
    padding: 9em 6em;
    grid-template-columns: 1fr 1.4fr;
  }
  section.hero-section div.left-content {
    width: 450px;
  }
  section.hero-section div.left-content div.head-container div.frontend-title h1 {
    font-size: 64px;
  }
  section.hero-section div.left-content div.head-container div.frontend-desc p {
    font-size: 18px;
  }
  section.hero-section div.left-content div.view-container a.view-projects {
    font-size: 16px;
    padding: 1.7em 2em;
  }
  section.hero-section div.right-content {
    background-size: 50vmin;
  }
  section.hero-section svg.design2 {
    margin-left: 28em;
  }
  section.hero-section svg.design1 {
    margin-top: 34em;
  }
  section.project-section {
    padding: 5em 6em;
  }
  section.project-section div.title-container div.title-head h1 {
    font-size: 27px;
  }
  section.project-section div.title-container div.title-desc p {
    font-size: 18px;
  }
  section.ido-section {
    padding: 5em 6em;
  }
  section.ido-section div.title-container div.title-head h1 {
    font-size: 27px;
  }
  section.ido-section div.title-container div.title-desc p {
    font-size: 18px;
  }
  section.myskills-section {
    padding: 5em 6em;
  }
  section.myskills-section div.title-container div.title-head h1 {
    font-size: 27px;
  }
  section.myskills-section div.title-container div.title-desc p {
    font-size: 18px;
  }
  section.about-section {
    padding: 5em 6em;
  }
  section.about-section div.title-container div.title-head h1 {
    font-size: 27px;
  }
  section.about-section div.profile-outer div.about-desc {
    font-size: 18px;
  }
  section.contact-section {
    padding: 5em 6em;
  }
  section.contact-section div.title-container div.title-head h1 {
    font-size: 27px;
  }
  section.contact-section div.title-container div.title-desc p {
    font-size: 18px;
  }
  section.contact-section div.contact-outer div.contact-form form label {
    font-size: 20px;
  }
  section.contact-section div.contact-outer div.contact-form form button {
    font-size: 20px;
  }
  section.contact-section div.contact-outer div.social-container {
    margin-top: 1em;
  }
  section.contact-section div.contact-outer div.social-container div.social-logo {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1366px) {
  nav.nav {
    padding: 1em 12em;
  }
  nav.nav a.logo h1 {
    font-size: 32px;
  }
  nav.nav ul.nav-li {
    padding: 1em 12em;
  }
  section.hero-section {
    padding: 9em 12em;
    grid-template-columns: 1fr 1.5fr;
  }
  section.hero-section svg.design1 {
    margin-top: 37em;
  }
  section.hero-section svg.design2 {
    margin-left: 36em;
    margin-top: 3em;
  }
  section.hero-section svg.design3 {
    margin-top: 5em;
    display: block;
    z-index: -1;
    position: absolute;
    left: 0;
  }
  section.hero-section div.left-content {
    margin-top: 6em;
    width: 450px;
  }
  section.hero-section div.left-content div.head-container div.frontend-title h1 {
    font-size: 72px;
  }
  section.hero-section div.left-content div.head-container div.frontend-desc p {
    font-size: 18px;
  }
  section.hero-section div.right-content {
    margin-top: 6em;
    background-size: 620px;
  }
  section.project-section {
    padding: 5em 12em;
  }
  section.ido-section {
    padding: 5em 12em;
  }
  section.myskills-section {
    padding: 5em 12em;
  }
  section.about-section {
    padding: 5em 12em;
  }
  section.contact-section {
    padding: 5em 12em;
  }
}
@media only screen and (min-width: 1491px) {
  section.hero-section {
    padding-top: 7em;
  }
  section.hero-section div.left-content {
    width: 550px;
  }
  section.hero-section div.left-content div.head-container div.frontend-title h1 {
    font-size: 80px;
  }
  section.hero-section div.left-content div.head-container div.frontend-title div.frontend-desc p {
    font-size: 18px;
  }
  section.hero-section div.right-content {
    background-size: 52vmin;
  }
  section.project-section div.title-container div.title-head h1 {
    font-size: 27px;
  }
  section.project-section div.title-container div.title-desc p {
    width: 620px;
    font-size: 20px;
  }
  section.ido-section div.title-container div.title-head h1 {
    font-size: 27px;
  }
  section.ido-section div.title-container div.title-desc p {
    width: 620px;
    font-size: 20px;
  }
  section.ido-section div.build-outer div.build-container div.logo-container h1 {
    font-size: 22px;
  }
  section.ido-section div.build-outer div.build-container div.build-desc p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1707px) {
  div.nav-wrapper {
    margin: 0 auto;
  }
  nav.nav ul.nav-li {
    width: 1707px;
    padding: 1em 15em;
    margin: 0 auto;
  }
  nav.nav a.logo h1 {
    margin: 0 auto;
    width: 1707px;
    padding: 0px 1em;
  }
  section.hero-section {
    padding: 9.4em 15em;
    width: 1707px;
    margin: 0 auto;
  }
  section.hero-section div.right-content {
    background-size: 100%;
  }
  section.project-section {
    padding: 5em 15em;
    width: 1707px;
    margin: 0 auto;
  }
  section.ido-section {
    padding: 5em 15em;
    width: 1707px;
    margin: 0 auto;
  }
  section.myskills-section {
    padding: 5em 15em;
    width: 1707px;
    margin: 0 auto;
  }
  div.about-outer {
    background: #212529;
  }
  section.about-section {
    margin: 0 auto;
    padding: 5em 15em;
    width: 1707px;
  }
  section.contact-section {
    padding: 1em 15em;
    width: 1707px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */