@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

$font: 'Poppins', sans-serif;

body{
    font-family: $font;
}

//Main colors
$bg: #f8f9fa;
$black: #212529;
$violet: #5222D0;
$hero-bg: #ffffff;
$orange: #EC615b;


//Navbar
nav{
    display: flex;
    padding: 0 1em;
    justify-content: space-between;
    position: fixed;
    // height: 75px;
    line-height: 72px;

    width: 100%;
    background: rgba(197, 197, 197, 0.2);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    
    ul.nav-li{
        width: 100%;
        padding-top: 5em;
        position: absolute;
        z-index: -1;
        left: 0;
        transform: translateY(-100%);
        transition: .6s;
    }

    li{
        // display: none;
        padding: 0 1em;
        margin: auto 0;
        background: $bg;
        list-style: none;
    }
    li a{

        text-align: center;
        color: $black;
        text-decoration: none;
    }
  
//Nav toggle
    label.navbar-toggler{
        display: grid !important;
    }

    label.navbar-toggler{
        display: none;
        height: min-content;
        margin: 1.7em 0;
        cursor: pointer;
    }

    label.navbar-toggler span.bar{
        width: 32px;
        height: 4px;
        margin-bottom: 7px;
        background: $black;
        border-radius: 20%;
        transition: .4s;
    }
}

input{
    display: none;
}

// input:checked ~ nav ul.nav-li{
//     transform: translateY(0);
// }

.nav-li.open{
    transform: translateY(0);
}
